.left-box {
  display: flex;
  justify-content: flex-start;
}

.input-attendance-absent-with-notice {
  background-color: #ff6600;
}

.input-attendance-absent-without-notice {
  background-color: #e60000;
}

.input-attendance-present {
  background-color: #3cbc8d;
}

.input-attendance-sick {
  background-color: #66ccff;
}

.input-attendance-working-from-home {
  background-color: #cc66ff;
}

.input-attendance-late {
  background-color: #ffff00;
}

.striping {
  li:nth-child(odd) {
    background: rgb(225, 225, 225);
  }
}

.no-bullets {
  list-style-type: none;
  padding: 0;
}

table,
th,
td {
  border: 3px solid black;
  border-collapse: collapse;
  padding: 10px;
  align-content: start;
}

button {
  margin: 5px;
  padding: 2px;
}

select {
  margin: 5px;
}

input[type="date"] {
  margin: 5px;
}
